* {
  padding: 0;
  margin: 0;
  /* background-color: #1f2937; */
  box-sizing: border-box;
}
.header {
  /* border: 1px solid green; */
  background-color: #1f2937;
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}
.header > h1 {
  color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 20px;
}
ul {
  list-style-type: none;
  display: flex;
  gap: 10px;
  margin-right: 5px;
}
ul > li {
  padding: 5px;
  text-align: center;
  border: 1px solid white;
  border-radius: 9px;
}

ul > li > a {
  text-decoration: none;
  color: white;
  font-size: 15px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
ul > li:hover {
  transform: scale(1.5);
}

.hero {
  width: 100%;
  padding: 20px;
  background-color: #1f2937;
  display: flex;
  gap: 30px;
  justify-content: space-around;
  flex: 1;
}
.left-side {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  gap: 12px;
}
.left-side > h1 {
  font-size: 48px;
  color: white;
  font-weight: bolder;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.left-side > p {
  color: #e5e7eb;
  font-family: arial;
  font-size: 11px;
}
.left-side > button {
  margin-top: 20px;
  background-color: #3882f6;
  padding: 10px;
  font-size: 12px;
  color: white;
  border: none;
  border-radius: 9px;
}
.right-side {
  display: flex;
  align-items: stretch;
}
.right-side > img {
  width: 100%;
}
.services {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: white;
  padding: 20px;

  /* border: 1px solid pink; */
}
.style {
  padding: 10px;
  text-align: center;
  align-content: center;
  margin-bottom: 10px;
  font-size: 25px;
  font-weight: bolder;
  color: #1f2937;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.accesories {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  align-items: stretch;
  gap: 10px;
}
.accesories > .img-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 14px;
  justify-content: center;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
}
.accesories > .img-container > img {
  border-radius: 15px;
  border: 3px solid #3882f6;
  width: 200px;
}
.review {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  background-color: #e5e7eb;
  padding: 70px;
  gap: 10px;
}
q {
  text-align: center;
  font-style: italic;
  font-size: 18px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.review > p {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin-right: 50px;
}
.call-to-action {
  width: 100%;
  padding: 100px;
}
.action-container {
  display: flex;
  gap: 10px;
  flex: 1;
  justify-content: space-around;
  border-radius: 10px;
  background-color: #3882f6;
  color: white;
  padding: 40px;
}
h4 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 5px;
}
.action-left-side > p {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 14px;
}
.action-container > button {
  border: 3px solid white;
  border-radius: 10px;
  padding: 10px;
  background-color: #3882f6;
  color: white;
  cursor: pointer;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.action-container > button:hover {
  transform: scale(1.1);
}
footer {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: #1f2937;
  color: white;
  padding: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 13px;
}
